@font-face {
  font-family: "Fightree";
  src: url("../fonts/Figtree-VariableFont_wght.ttf")
    format("truetype-variations");
  src: url("../fonts/Figtree-VariableFont_wght.ttf") format("truetype")
    tech("variations");
  font-weight: 100 1000;
}

:root {
  --bg-color: #f4d04e;
  --white: #ffffff;
  --grey: #7f7f7f;
  --black: #121212;
}

body {
  font-family: "Fightree";
  font-weight: 600;
  background-color: var(--bg-color);
  display: grid;
  place-content: center;
  padding-bottom: 4rem;
  position: relative;
  height: 95vh;
}

h1 {
  font-size: 1.5rem;
  color: var(--bg-color);
}

.card {
  max-width: 24rem;
  min-width: 20.4375rem;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 1.25rem;
  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: 1rem 1rem 0 0 black;
}

.card > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card img {
  border-radius: 0.625rem;
}

.text-content > *:not(:last-child) {
  margin-bottom: 0.75rem;
}

.text-content span,
.text-content time {
  font-size: 0.875rem;
}

.text-content span {
  padding: 0.25rem 0.75rem;
  background-color: var(--bg-color);
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.text-content .time {
  color: var(--black);
  font-weight: 400;
}

.text-content .text {
  color: var(--grey);
  font-size: 1rem;
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
}

.author img {
  width: 2rem;
  height: 2rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
/* 480px */
@media (max-width: 30em) {
  .card {
    box-shadow: 0.5rem 0.5rem 0 0 black;
  }
  .line-break::after {
    content: "\a";
    white-space: pre;
  }
}
